 :root {
   --primary-color: #2692a6;
   --secondary-color: #EF641A;
   --text-shadow: 1px 3px 2px rgb(11, 2, 58), 0 0 0.4em rgb(64, 68, 119), 0 0 0.1em rgb(2, 14, 139);
   --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   --bs-border-radius: 10px;
 }


 body {
   background: linear-gradient(-90deg, #dcdece 1%, #fcfce9 99%);
 }

 .container {
   max-width: 550px;
   margin: 40px auto;
   background: linear-gradient(-45deg, #ddfcd2 35%, #cae4fc 75%);
   padding: 30px;
   box-shadow: var(--box-shadow);
   border-radius: var(--bs-border-radius);
   animation: color 13s linear infinite;
   background-size: 250%;
 }

 @keyframes color {
   0% {
     background-position: 0 50%;
   }

   50% {
     background-position: 100% 50%;
   }

   100% {
     background-position: 0 50%;
   }
 }

 select {
   display: block;
   width: 100%;
   border-radius: var(--bs-border-radius);
   padding: 5px;
 }

 .city {
   display: flex;
   margin: 20px 0;
   justify-content: space-between;
   padding: 20px 0;
   border-bottom: 0.5px dotted rgba(0, 0, 0, 0.2);
 }

 .city:last-child {
   border: none;
 }

 h2 {
   font-size: 24px;
   margin: 0 0 5px;
 }

 .date {
   opacity: 0.8;
   font-size: 15px;
 }

 .time {
   font-size: 36px;
   font-weight: bold;
 }

 .time small {
   font-size: 15px;
   vertical-align: middle;
   line-height: 36px;
 }

 h1 {
   margin-bottom: 10px;
   text-shadow: var(--text-shadow);
 }

 h1 img {
   max-width: 50px;
   margin-bottom: 8px;

 }

 h1 .title {
   text-decoration: none;
   color: #2692a6;
   transition: all 200ms ease-in-out;
 }

 h1 .title:hover {
   color: #EF641A;
 }

 footer {
   text-align: center;
   margin-top: -10px;
   color: rgba(0, 0, 0, 0.7);
 }

 .logo-navbar {
   max-height: 18px;
   margin-bottom: -3px;
   text-decoration: none;
 }

 .footer {
   text-decoration: none;
   color: rgba(38, 146, 166, 0.6);
   transition: all 200ms ease-in-out;
 }

 .footer:hover {
   color: var(--secondary-color);
 }

 @media(max-width:400px) {
   .time {
     font-size: 26px;
     font-weight: bold;
   }

   .date {
     opacity: 0.8;
     font-size: 10px;
   }

   h2 {
     font-size: 18px;
     margin: 0 0 5px;
   }
 }